* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 60%;
  grid-template-areas: 
    "slider slider"
    "label controls";
  width: 60vw;
  height: 96vh;
  margin: 2vh auto;
}

.slider {
  display: flex;
  flex-direction: column;
  grid-area: slider;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: black;
}

.slider__items {
  display: flex;
  align-items: center;
  width: 1000%;
  height: 100%;
}

.slider__item {
  width: 20%;
  height: 100%;
}

.slider__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.input {
  display: none;
}

.controls {
  display: inline-flex;
  justify-content: flex-end;
  grid-area: controls;
  gap: 0.5em;
}

.controls .slider__label {
  display: block;
  cursor: pointer;
  background-color: rgb(10, 10, 143);
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 0.25em solid rgb(10, 10, 143);
}

.labels {
  display: flex;
  flex-direction: column;
  grid-area: label;
  overflow: hidden;
  margin-right: 1em;
}

.caption-wrapper {
  display: flex;
  width: 1000%;
}

.item-caption {
  width: 10%;
  font-size: 1.5rem;
}

#input-slide0:checked ~ .controls .slider__label:nth-of-type(1),
#input-slide1:checked ~ .controls .slider__label:nth-of-type(2),
#input-slide2:checked ~ .controls .slider__label:nth-of-type(3),
#input-slide3:checked ~ .controls .slider__label:nth-of-type(4),
#input-slide4:checked ~ .controls .slider__label:nth-of-type(5),
#input-slide5:checked ~ .controls .slider__label:nth-of-type(6),
#input-slide6:checked ~ .controls .slider__label:nth-of-type(7),
#input-slide7:checked ~ .controls .slider__label:nth-of-type(8),
#input-slide8:checked ~ .controls .slider__label:nth-of-type(9),
#input-slide9:checked ~ .controls .slider__label:nth-of-type(10) {
  background-color: bisque;
  transition: 0.5s;
}

#input-slide0:not(:checked) ~ .controls .slider__label:nth-of-type(1):hover,
#input-slide1:not(:checked) ~ .controls .slider__label:nth-of-type(2):hover,
#input-slide2:not(:checked) ~ .controls .slider__label:nth-of-type(3):hover,
#input-slide3:not(:checked) ~ .controls .slider__label:nth-of-type(4):hover,
#input-slide4:not(:checked) ~ .controls .slider__label:nth-of-type(5):hover,
#input-slide5:not(:checked) ~ .controls .slider__label:nth-of-type(6):hover,
#input-slide6:not(:checked) ~ .controls .slider__label:nth-of-type(7):hover,
#input-slide7:not(:checked) ~ .controls .slider__label:nth-of-type(8):hover,
#input-slide8:not(:checked) ~ .controls .slider__label:nth-of-type(9):hover,
#input-slide9:not(:checked) ~ .controls .slider__label:nth-of-type(10):hover {
  background-color: bisque;
  border-color: bisque;
  transition: 0.15s;
}

.controls .slider__label:active {
  opacity: 0.5 !important;
}



#input-slide0:checked ~ .slider .slider__items,
#input-slide0:checked ~ .labels .caption-wrapper {
  transform: translate(0%);
  transition: 0.5s ease;
}

#input-slide1:checked ~ .slider .slider__items,
#input-slide1:checked ~ .labels .caption-wrapper {
  transform: translate(-10%);
  transition: 0.5s ease;
}

#input-slide2:checked ~ .slider .slider__items,
#input-slide2:checked ~ .labels .caption-wrapper {
  transform: translate(-20%);
  transition: 0.5s ease;
}

#input-slide3:checked ~ .slider .slider__items, 
#input-slide3:checked ~ .labels .caption-wrapper {
  transform: translate(-30%);
  transition: 0.5s ease;
}

#input-slide4:checked ~ .slider .slider__items,
#input-slide4:checked ~ .labels .caption-wrapper {
  transform: translate(-40%);
  transition: 0.5s ease;
}

#input-slide5:checked ~ .slider .slider__items,
#input-slide5:checked ~ .labels .caption-wrapper {
  transform: translate(-50%);
  transition: 0.5s ease;
}

#input-slide6:checked ~ .slider .slider__items,
#input-slide6:checked ~ .labels .caption-wrapper {
  transform: translate(-60%);
  transition: 0.5s ease;
}

#input-slide7:checked ~ .slider .slider__items,
#input-slide7:checked ~ .labels .caption-wrapper {
  transform: translate(-70%);
  transition: 0.5s ease;
}

#input-slide8:checked ~ .slider .slider__items,
#input-slide8:checked ~ .labels .caption-wrapper {
  transform: translate(-80%);
  transition: 0.5s ease;
}

#input-slide9:checked ~ .slider .slider__items,
#input-slide9:checked ~ .labels .caption-wrapper {
  transform: translate(-90%);
  transition: 0.5s ease;
}